html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
}



/* Form container styles */
.table-edit {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form styles */
.form-edit {
    display: flex;
    flex-direction: column;
}

/* Input styles */
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



/* Style for tables */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
}

/* Style for table headers */
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
}

/* Alternate row background color */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect */
tr:hover {
  background-color: #ddd;
}

/* Style for the container */
.container {
  margin: auto;
  width: 80%;
  margin-top: 60px;
  overflow-y: auto;
}
/* Style for table headers */
th, td {
  padding: 8px;
  border-bottom: 1px solid black;
}

/* Style for table headers text alignment */
th {
  text-align: left;
}

/* Ensure table cells have the specified widths */
.offer-table th:nth-child(1),
.offer-table td:nth-child(1) {
  width: 20%; /* Width for the first column */
  font-weight: bold; /* Make the font strong */
}

.offer-table th:nth-child(2),
.offer-table td:nth-child(2) {
  width: 55%; /* Width for the second column */
}

.offer-table th:nth-child(3),
.offer-table td:nth-child(3) {
  width: 25%; /* Width for the third column */
}

.offer-table td:nth-child(3) {
  color: darkblue;
}


.offer-table{
  table-layout: fixed;
  width: 100%;
}
.offer-table td {
  white-space: pre-wrap; /* Allows line breaks */
  word-wrap: break-word; /* Breaks long words */
}



/* Ensure table cells have the specified widths */
.dashboard-table th:nth-child(1),
.dashboard-table td:nth-child(1) {
  width: 20%; /* Width for the first column */
}

.dashboard-table th:nth-child(2),
.dashboard-table td:nth-child(2) {
  width: 50%; /* Width for the second column */
}

.dashboard-table th:nth-child(3),
.dashboard-table td:nth-child(3) {
  width: 20%; /* Width for the third column */
}

.dashboard-table th:nth-child(4),
.dashboard-table td:nth-child(4) {
  width: 10%; /* Width for the fourth and fifth columns */
}

/* Media query for phone */
@media only screen and (max-width: 910px) {
  /* Ensure table cells have the specified widths */
.dashboard-table th:nth-child(1),
.dashboard-table td:nth-child(1) {
  width: 20%; /* Width for the first column */
}

.dashboard-table th:nth-child(2),
.dashboard-table td:nth-child(2) {
  width: 40%; /* Width for the second column */
}

.dashboard-table th:nth-child(3),
.dashboard-table td:nth-child(3) {
  width: 20%; /* Width for the third column */
}
  .dashboard-table th:nth-child(4),
  .dashboard-table td:nth-child(4) {
    width: 20%; /* Change width for the fourth column on phones */
  }
}
/* Ensure table fills the entire width */
.dashboard-table {
  table-layout: fixed;
  width: 100%;
  
}
/* Allow text wrapping within table cells */
.dashboard-table td {
  white-space: pre-wrap; /* Allows line breaks */
  word-wrap: break-word; /* Breaks long words */
}


.dashboard-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


.offer-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


/* Style the select container */
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none; /* Remove default arrow */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="%23333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6" /></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
}

/* Style the select options */
select option {
  padding: 10px;
}

/* Style for hover effect on options */
select option:hover {
  background-color: #f0f0f0;
}

/* Style for the dropdown when opened */
select:focus {
  outline: none;
  border-color: #007bff; /* Custom focus color */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Custom focus effect */
}