<!-- offer.html -->
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <title>Offer List</title>
</head>
<body>
    <!-- ask.html -->
<div layout:fragment="content" class="table-container">
    <!-- Check if asks exist -->
    <th:block th:if="${not #lists.isEmpty(asks)}">
        <!-- Iterate over each ask and display its details -->
        <table class="offer-table" th:each="ask : ${asks}">
            <!-- Table headers -->
            <thead>
                <tr>
                    <th>Nadpis</th>
                    <th>Popis</th>
                    <th>Kontakt</th>
                    <!-- Add more columns if needed -->
                </tr>
            </thead>
            <!-- Table body -->
            <tbody>
                <!-- Iterate over each ask -->
                <tr>
                    <!-- Display ask details -->
                    <td th:text="${ask.nadpis}"></td>
                    <td th:text="${ask.text}"></td>
                    <td th:text="${ask.email}"></td>
                    <!-- Add more columns if needed -->
                </tr>
                
            </tbody>
            <div style="height: 40px;"></div>
        </table>
    </th:block>
    <!-- Display a message if no asks are found -->
    <div th:if="${#lists.isEmpty(asks)}">Aktuálně nejsou žádné poptávky.</div>
</div>
</body>
</html>
