<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <title>Dashboard</title>
    
</head>

<body>
    <div layout:fragment="content" class="table-container">
        <h1>Vítej zpět [[${currentUser.fullname}]]!</h1>
        <h2>Zde můžeš spravovat své inzeráty</h2>
        
        <h3>Tvoje poptávky:</h3>
        <table class="dashboard-table" >
            <thead>
                <tr>
                    <th>Nadpis</th>
                    <th>Text</th>
                    <th>Email</th>
                    <th></th> <!-- New column for actions -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="ask : ${userAsks}">
                    <td th:text="${ask.nadpis}"></td>
                    <td th:text="${ask.text}"></td>
                    <td th:text="${ask.email}"></td>
                    <td>
                        <a th:href="@{'/editAsk?id=' + ${ask.id}}">Upravit</a> <!-- Edit button -->
                        <a th:href="@{'/deleteAsk?id=' + ${ask.id}}">Smazat</a> <!-- Delete button -->
                    </td>
                </tr>
            </tbody>
        </table>
        
        <h3>Tvoje nabídky:</h3>
        <table class="dashboard-table">
            <thead>
                <tr>
                    <th>Nadpis</th>
                    <th>Text</th>
                    <th>Email</th>
                    <th></th> <!-- New column for actions -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="offer : ${userOffers}">
                    <td th:text="${offer.nadpis}"></td>
                    <td th:text="${offer.text}"></td>
                    <td th:text="${offer.email}"></td>
                    <td>
                        <a th:href="@{'/editOffer?id=' + ${offer.id}}">Upravit</a>  <!-- Edit button -->
                        <a th:href="@{'/deleteOffer?id=' + ${offer.id}}">Smazat</a> <!-- Delete button -->
                    </td>
                </tr>
            </tbody>
        </table>
        
        <h2>|<a th:href="@{/create}">Vytvořit nový inzerát</a>|<a th:href="@{/deleteUser}">Odstanit účet</a>|</h2>
    </div>
</body>
</html>
