<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <title>Offer List</title>
</head>
<body>
    <!-- offer.html -->
<div layout:fragment="content" class="table-container">
    <!-- Check if offers exist -->
    <th:block th:if="${not #lists.isEmpty(offers)}">
        <!-- Iterate over each offer and display its details -->
        <table class="offer-table" th:each="offer : ${offers}">
            <!-- Table headers -->
            <thead>
                <tr>
                    <th>Nadpis</th>
                    <th>Popis</th>
                    <th>Kontakt</th>
                    <!-- Add more columns if needed -->
                </tr>
            </thead>
            <!-- Table body -->
            <tbody>
                <!-- Iterate over each offer -->
                <tr>
                    <!-- Display offer details -->
                    <td th:text="${offer.nadpis}"></td>
                    <td th:text="${offer.text}"></td>
                    <td th:text="${offer.email}"></td>
                    <!-- Add more columns if needed -->
                </tr>
            </tbody>
            <div style="height: 40px;"></div>
        </table>
    </th:block>
    <!-- Display a message if no offers are found -->
    <div th:if="${#lists.isEmpty(offers)}">Aktuálně nejsou žádné nabídky.</div>
</div>

</body>
</html>
