<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upravit poptávku</title>
</head>
<body>
    <h1>Upravit poptávku</h1>
    <div layout:fragment="content" class="table-edit">
        <form th:method="put" th:action="@{'/editAsk/' + ${askId}}">
        <!-- Ensure that the askId is properly populated -->
        <input type="hidden" name="askId" th:value="${askId}" />
        
        <label class="sr-only" for="title">Název:</label><br>
        <input type="text" id="title" name="title" th:value="${askTitle}" maxlength="30"/><br>
        
        <label class="sr-only" for="text">Text:</label><br>
        <textarea id="text" name="text" th:text="${askText}" maxlength="300"></textarea><br>
        
        <input class="form-control" type="submit" value="Uložit" />
        <a href="/dashboard">Zrušit</a>
    </form>
    </div>
</body>
</html>
