<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <title>XXL Poptavka</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Vítejte na úvodní strance</h1>

        <p>Tato stránka slouží k vytváření inzerátů.</p>

        <p>Klikněte <a th:href="@{/login}">zde</a> a přihlašte svůj účet.</p>
    </div>
</body>
</html>
